@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #374151;
  --card: #fefce8;
  --card-foreground: #374151;
  --popover: #ffffff;
  --popover-foreground: #374151;
  --primary: #d97706;
  --primary-foreground: #ffffff;
  --secondary: #6366f1;
  --secondary-foreground: #ffffff;
  --muted: #f8fafc;
  --muted-foreground: #374151;
  --accent: #6366f1;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #ffffff;
  --ring: rgba(100, 116, 139, 0.5);
  --radius: 0.5rem;
}

.dark {
  --background: #1f2937;
  --foreground: #f9fafb;
  --card: #374151;
  --card-foreground: #f9fafb;
  --popover: #1f2937;
  --popover-foreground: #f9fafb;
  --primary: #f59e0b;
  --primary-foreground: #1f2937;
  --secondary: #818cf8;
  --secondary-foreground: #1f2937;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #818cf8;
  --accent-foreground: #1f2937;
  --destructive: #f87171;
  --destructive-foreground: #1f2937;
  --border: #4b5563;
  --input: #374151;
  --ring: rgba(156, 163, 175, 0.5);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}